<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guandong.com.mettingmodel">

    <application
        >
        <activity android:name=".MettingActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>